<div class="ui cards">
    <div class="card">
        <div class="content">
            <div class="header">Course1 </div>
            <div class="author">owner </div>
            <div class="description">description </div>
        </div>
        <div class="extra content">
            <div class="ui three buttons">
                <div class="ui basic green button" onclick="moocToDetail('<%=title%>')">More</div>
                <div class="ui basic blue button" onclick="moocManager('<%=title%>')">Manager</div>
                <div class="ui basic red button" onclick="moocShowWarning('<%=title%>')">Delete</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Course1 </div>
            <div class="author">owner </div>
            <div class="description">description </div>
        </div>
        <div class="extra content">
            <div class="ui three buttons">
                <div class="ui basic green button" onclick="moocToDetail('<%=title%>')">More</div>
                <div class="ui basic blue button" onclick="moocManager('<%=title%>')">Manager</div>
                <div class="ui basic red button" onclick="moocShowWarning('<%=title%>')">Delete</div>
            </div>
        </div>
    </div>
</div>
<div class="ui cards">
    <div class="card">
        <div class="content">
            <div class="header">Course1 </div>
            <div class="author">owner </div>
            <div class="description">description </div>
        </div>
        <div class="extra content">
            <div class="ui three buttons">
                <div class="ui basic green button" onclick="moocToDetail('<%=title%>')">More</div>
                <div class="ui basic blue button" onclick="moocManager('<%=title%>')">Manager</div>
                <div class="ui basic red button" onclick="moocShowWarning('<%=title%>')">Delete</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Course1 </div>
            <div class="author">owner </div>
            <div class="description">description </div>
        </div>
        <div class="extra content">
            <div class="ui three buttons">
                <div class="ui basic green button" onclick="moocToDetail('<%=title%>')">More</div>
                <div class="ui basic blue button" onclick="moocManager('<%=title%>')">Manager</div>
                <div class="ui basic red button" onclick="moocShowWarning('<%=title%>')">Delete</div>
            </div>
        </div>
    </div>
</div>

