<div class="ui cards">
    <div class="card">
        <div class="content">
            <div class="header">Name</div>
            <br>
            <div class="meta"><div class="ui label grey"><i class="remove icon"></i>shut down</div> </div>
            <div class="description">des </div>
        </div>
        <div class="extra content">
            <div class="ui three buttons">
                <div class="ui basic green button" onclick="comToDetail('<%=title%>')">More</div>
                <div class="ui basic blue button" onclick="comToManage('<%=title%>')">Manage</div>
                <div class="ui basic red button" onclick="comShowWarning('<%=title%>')">Delete</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Name </div>
            <br>
            <div class="meta"><div class="ui label green"><i class="checkmark icon"></i>shut down</div> </div>
            <div class="description">des </div>
        </div>
        <div class="extra content">
            <div class="ui three buttons">
                <div class="ui basic green button" onclick="comToDetail('<%=title%>')">More</div>
                <div class="ui basic blue button" onclick="comToManage('<%=title%>')">Manage</div>
                <div class="ui basic red button" onclick="comShowWarning('<%=title%>')">Delete</div>
            </div>
        </div>
    </div>
</div>

