<div class="ui cards">
    <div class="card">
        <div class="content">
            <div class="header">Elliot Fu </div>
            <div class="meta">Friends of Veronika </div>
            <div class="description">Elliot requested permission to view your contact details </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <div class="ui basic green button" onclick="toDetail('<%=title%>')">More</div>
                <div class="ui basic red button" onclick="showWarning('<%=title%>')">Delete</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Jenny Hess </div>
            <div class="meta">New Member </div>
            <div class="description">Jenny wants to add you to the group <b>best friends</b> </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <div class="ui basic green button" onclick="toDetail('<%=title%>')">More</div>
                <div class="ui basic red button" onclick="showWarning('<%=title%>')">Delete</div>
            </div>
        </div>
    </div>
</div>
<div class="ui cards">
    <div class="card">
        <div class="content">
            <div class="header">Elliot Fu </div>
            <div class="meta">Friends of Veronika </div>
            <div class="description">Elliot requested permission to view your contact details </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <div class="ui basic green button" onclick="toDetail('<%=title%>')">More</div>
                <div class="ui basic red button" onclick="showWarning('<%=title%>')">Delete</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Jenny Hess </div>
            <div class="meta">New Member </div>
            <div class="description">Jenny wants to add you to the group <b>best friends</b> </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <div class="ui basic green button" onclick="toDetail('<%=title%>')">More</div>
                <div class="ui basic red button" onclick="showWarning('<%=title%>')">Delete</div>
            </div>
        </div>
    </div>
</div>

