<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="/sematic/semantic.min.css"/>
      <script src="/jquery.js" crossorigin="anonymous"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="/sematic/semantic.min.js" crossorigin="anonymous"\></script>
  </head>
  <body class="pusherable">
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">
            <% include ../nav/navbar-personal.ejs %>
            <div class="ui text container">
                <br><br>
                <h1 class="ui inverted header">
                    <%= title %>
                </h1>
                <h2>Here are the dataset <%= title %> !</h2>
                <br>
                <div class="ui huge teal button">Your Data <i class="down arrow icon"></i></div>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <div class="ui aligned stackable grid container">
                <div class="row">
                    <!--主体部分-->
                    <div class="ui top attached tabular menu">
                        <a class="active item" data-tab="One">Content </a>
                        <a class="item" data-tab="Two">Pull Request </a>
                        <a class="item" data-tab="Three">Admin </a>
                        <a class="item" data-tab="Four">Setting </a>
                        <!--右侧喜爱和贡献标签-->
                        <div class="right menu">
                            <div class="item">
                                <div class="ui labeled button" tabindex="0">
                                    <div class="ui basic red button"><i class="heart icon"></i> Like </div>
                                    <a class="ui red left pointing label">
                                        0
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ui labeled button" tabindex="0">
                                    <div class="ui basic pink button"><i class="fork icon"></i> Contribute </div>
                                    <a class="ui left pointing pink label">
                                        0
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--数据集展示部分-->
                    <div class="ui bottom attached tab segment active" data-tab="One">
                        <table class="ui celled table">
                            <thead>
                            <tr><th>标题</th>
                                <th>标题</th>
                                <th>标题</th>
                            </tr></thead>
                            <tbody>
                            <tr>
                                <td>cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                            </tr>
                            <tr>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                            </tr>
                            <tr>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr><th colspan="3">
                                    <!--ajax换页-->
                                    <div class="ui right floated pagination menu">
                                        <a class="icon item">
                                            <i class="left chevron icon"></i>
                                        </a>
                                        <a class="item">1</a>
                                        <a class="item">2</a>
                                        <a class="item">3</a>
                                        <a class="item">4</a>
                                        <a class="icon item">
                                            <i class="right chevron icon"></i>
                                        </a>
                                    </div>
                                </th>
                            </tr></tfoot>
                        </table>
                    </div>
                    <div class="ui bottom attached tab segment" data-tab="Two">
                        <div class="ui items">
                            <div class="item">
                                <button class="orange ui button" onclick="newSubmition()">New Submition</button>
                            </div>
                            <hr>
                            <!--请求进行打表-->
                            <div class="item">
                                <div class="image">
                                    <img src="http://semantic-ui.com/images/wireframe/image.png">
                                </div>
                                <div class="content">
                                    <a class="header">UserName</a>
                                    <div class="meta">
                                        <span class="cinema">desc</span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                    <div class="extra">
                                        <div class="ui right floated primary button" onclick="showPullRequest('<%= title %>')">More <i class="right chevron icon"></i> </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="item">
                                <div class="image">
                                    <img src="http://semantic-ui.com/images/wireframe/image.png">
                                </div>
                                <div class="content">
                                    <a class="header">UserName</a>
                                    <div class="meta">
                                        <span class="cinema">desc</span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                    <div class="extra">
                                        <div class="ui right floated primary button">More <i class="right chevron icon"></i> </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="ui bottom attached tab segment" data-tab="Three">
                        <div class="ui items">
                            <!--请求进行打表-->
                            <div class="item">
                                <div class="image">
                                    <img src="http://semantic-ui.com/images/wireframe/image.png">
                                </div>
                                <div class="content">
                                    <a class="header">UserName</a>
                                    <div class="meta">
                                        <span class="cinema">desc</span>
                                    </div>
                                    <div class="description">
                                        <p></p>
                                    </div>
                                    <div class="extra">
                                        <div class="ui right floated primary button" onclick="confirmPullRequest('<%= title %>')">Manage <i class="right chevron icon"></i> </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="ui bottom attached tab segment" data-tab="Four">
                        <p>Four</p>
                    </div>
                </div>
            </div>
        </div>
        <%include ../footer.ejs%>
    </div>

  <!--以下为点击pull request时弹出的页面-->
    <div class="ui modal" id="newPullRequest">
        <i class="close icon"></i>
        <div class="header" id="showDetailName">
            Charron
        </div>
        <table class="ui celled table">
            <thead>
            <tr><th>标题</th>
                <th>标题</th>
                <th>标题</th>
            </tr></thead>
            <tbody>
            <tr>
                <td>cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            </tbody>
            <tfoot>
            <tr><th colspan="3">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr></tfoot>
        </table>
        <div class="actions">
            <div class="ui green deny button">
                OK
            </div>
        </div>
    </div>

  <!--以下为点击new submition时弹出的页面-->
    <div class="ui modal" id="newSubmition">
        <i class="close icon"></i>
        <div class="header" id="detailName">
            New Submition
        </div>
        <div class="content">
            <form class="ui form" action="" method="post">
                <div class="field aligned">
                    <input type="file" name="upload-file">
                </div>
                <button class="ui positive right floated labeled icon button" type="submit">Yes <i class="checkmark icon"></i> </button>
                <br>
            </form>
        </div>
    </div>

    <!--以下为点击confirm request时弹出的页面-->
    <div class="ui modal" id="confirmPullRequest">
        <i class="close icon"></i>
        <div class="header" id="confirmDetailName">
            Charron
        </div>
        <table class="ui celled table">
            <thead>
            <tr><th>标题</th>
                <th>标题</th>
                <th>标题</th>
            </tr></thead>
            <tbody>
            <tr>
                <td>cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            </tbody>
            <tfoot>
            <tr><th colspan="3">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr></tfoot>
        </table>
        <div class="actions">
            <div class="ui green deny button" onclick="showWarning()">
                confirm
            </div>
        </div>
    </div>

    <!--用于admin做最后的确定-->
    <div class="ui basic modal" id="confirmWarning">
        <i class="close icon"></i>
        <div class="header">
            Warning!
        </div>
        <div class="image content">
            <div class="description">
                <p>Are you sure to add this dataset?</p>
            </div>
        </div>
        <div class="actions">
            <div class="two fluid ui inverted buttons">
                <div class="ui cancel red basic inverted button">
                    <i class="remove icon"></i>
                    No
                </div>
                <div class="ui ok green basic inverted button">
                    <i class="checkmark icon" onclick="addDataSet()"></i>
                    Yes
                </div>
            </div>
        </div>
    </div>

  </body>
</html>

<script>
    $('.tabular.menu .item').tab();

    var name;

    function showPullRequest(dataSetName) {
        $('#showDetailName').val(dataSetName);
        $('#newPullRequest').modal('show');
    };

    function newSubmition() {
        $('#newSubmition').modal('show');
    };

    function confirmPullRequest(dataSetName) {
        name = dataSetName;
        $('#confirmDetailName').val(dataSetName);
        $('#confirmPullRequest').modal('show');
    };

    function showWarning(){
        $('#confirmWarning').modal('show');
    };

    function addDataSet() {
        // 向后台请求加数据集
    };
</script>